{% extends "bootstrap.html" %}

{% block title %}TCMS{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-print-none">
        <div class="navbar-brand"><span class="navbar-brand mb-0 ml-3">TCMS</span></div>
        <div class="navbar-brand d-lg-none d-xl-none">Little Guys Big Trucks</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if active_page == "dashboard" %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('index') }}">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hubs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.category == 3 %}
                            <a class="dropdown-item" href="{{ url_for('myshipments') }}">my Shipments</a>{% endif %}
                        {% if user.category in [0,1] %}
                            <a class="dropdown-item" href="{{ url_for('shipmentshub') }}">Shipments</a>{% endif %}
                        {% if user.category in [0,1,2] %}<a class="dropdown-item" href="{{ url_for('equipmenthub') }}">Maintenance</a>{% endif %}
                        {% if user.category == 0 %} 
                            <a class="dropdown-item" href="{{ url_for('personnelhub') }}">Personnel</a>
                        {% endif %}
                    </div>
                </li>
                {% if user.category in [0] %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if active_page == "reporting" %}active{% endif %}"
                           href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reporting
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('payrollreport') }}">Monthly Payroll Report</a>
                            <a class="dropdown-item" href="{{ url_for('vehiclereport') }}">Vehicle Maintenance Report</a>
                            <a class="dropdown-item" href="{{ url_for('maintenancereport') }}">Monthly Maintenance Report</a>
                            <a class="dropdown-item" href="{{ url_for('incomingreport') }}">Incoming Shipment Report</a>
                            <a class="dropdown-item" href="{{ url_for('outgoingreport') }}">Outgoing Shipment Report</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav text-light mr-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.fullname %}
                            {{ user.fullname }}
                        {% else %}
                            NO USER LOGGED IN
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Log Off</a>
                    </div>
                </li>

            </ul>
            <div class="navbar-brand right-logo d-none d-lg-block d-xl-block">
                <img src="{{ url_for('static', filename='logo.svg') }}">
            </div>

        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% block page_content %}

    {% endblock %}
{% endblock %}