{% extends "base.html" %}
{% block title %}Shipment - Create{% endblock title %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.css"
          integrity="sha256-PaAZL3VjvuBsQSngzjA8dTdYa2mU88xmjd0vw8biXfg=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.default.css"
          integrity="sha256-08CTv29fptANK7CVsvnTZiZZYF9FHc+qtFzn/3cm4S4=" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='gridforms/gridforms.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='form.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.5.2/dist/flatpickr.css"
          integrity="sha256-tUFg4y6qj4WTN1LzL83dCuIJwr/+Vhph/nf82gD/X2w=" crossorigin="anonymous">
{% endblock styles %}


{% block page_content %}
    <div class="container">
        <p class="h1 d-print-none mt-3">Shipments</p>
    </div>
    <div class="container">
        <form action="" method="POST" class="grid-form">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>NEW SHIPMENT</legend>
                <div data-row-span="1">
                    <div data-field-span="1">
                        <label>Shipment Type</label>
                        {{ form.shipment_type() }}
                    </div>
                </div>
                <fieldset>
                    <legend>SOURCE</legend>
                    <div data-row-span="2">
                        <div data-field-span="1">
                            <label>Source Company</label>
                            {{ form.source_company() }}
                        </div>
                        <div data-field-span="1">
                            <label>Departure</label>
{#                            <input type="text" id="v-departure" required>#}
                            {{ form.depart_time(class_='') }}
                        </div>
                    </div>
                    <div data-row-span="1">
                        <div data-field-span="1">
                            <label>Source Address</label>
                            {{ form.source_address() }}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>DESTINATION</legend>
                    <div data-row-span="2">
                        <div data-field-span="1">
                            <label>Destination Company</label>
                            {{ form.destination_company() }}
                        </div>
                        <div data-field-span="1">
                            <label>Estimated Arrival</label>
{#                            <input type="text" id="v-eta" required>#}
{#                            {{ form.est_time_arrival(class_='d-none') }}#}
                            {{ form.est_time_arrival(class_='') }}
                        </div>
                    </div>
                    <div data-row-span="1">
                        <div data-field-span="1">
                            <label>Destination Address</label>
                            {{ form.destination_address() }}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>ASSIGNMENT</legend>
                    <div data-row-span="5">
                        <div data-field-span="1">
                            <label>Vehicle №</label>
                            {{ form.vehicle_id(class_='selectizeVehicle') }}
                        </div>
                        <div data-field-span="4">
                            <label>Driver(s)</label>
                            {{ form.drivers(class_='selectizeDrivers') }}
                        </div>
                    </div>
                </fieldset>
                <div data-row-span="4">
                    <div data-field-span="3">
                        <em>Note:</em><br>
                        Shipment type cannot be changed after creating shipment. Verify information before
                        submitting.
                    </div>
                    <div data-field-span="1">
                        <button type="submit" class="gridform-button btn btn-primary">SAVE</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock page_content %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.5.2/dist/flatpickr.min.js"
            integrity="sha256-44TeE1bzEP4BfpL6Wb05CVgLDKN6OzOAI79XNMPR4Bs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/js/standalone/selectize.min.js"
            integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename="gridforms/gridforms.js") }}"></script>
    <script>
        {#const departuretime = flatpickr("#v-departure", {#}
        const departuretime = flatpickr("#depart_time", {
            enableTime: true,
            time_24hr: true,
            onChange: function (dateStr, selectedDates) {
                estarrivaltime.set('minDate', selectedDates);
                {#$('#depart_time').val(selectedDates);#}
            }
        });
        {#const estarrivaltime = flatpickr("#v-eta", {#}
        const estarrivaltime = flatpickr("#est_time_arrival", {
            enableTime: true,
            time_24hr: true,
            onClose: function (dateStr, selectedDates) {
            },
            onChange: function (dateStr, selectedDates) {
                {#$('#est_time_arrival').val(selectedDates);#}
            }
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $('#drivers').selectize({
            persist: false,
            maxItems: null,
            valueField: 'ident',
            labelField: 'name',
            searchField: ['name', 'ident'],
            render: {
                item: function (item, escape) {
                    return '<div>' +
                        (item.name ? '<span class="driverName">' + escape(item.name) + '</span>' : '') +
                        (item.ident ? ' (<span class="driverID">' + escape(item.ident) + '</span>)' : '') +
                        '</div>';
                },
                option: function (item, escape) {
                    var label = item.name || item.ident;
                    var caption = item.name ? item.ident : null;
                    return '<div>' +
                        '<span class="SelectizeLabel">' + escape(label) + '</span>' +
                        (caption ? ' (<span class="SelectizeCaption">' + escape(caption) + '</span>)' : '') +
                        '</div>';
                }
            }
        });
        $('#vehicle_id').selectize({
            valueField: 'vid',
            labelField: 'name',
            searchField: ['name', 'vid'],
            render: {
                item: function (item, escape) {
                    return '<div>' +
                        (item.vid ? ' <span class="vehicleID">' + escape(item.vid) + '</span>' : '') +
                        '</div>';
                },
                option: function (item, escape) {
                    var label = item.name || item.vid;
                    var caption = item.name ? item.vid : null;
                    return '<div>' +
                        '<span class="SelectizeLabel">' + escape(label) + '</span>' +
                        (caption ? ' (<span class="SelectizeCaption">' + escape(caption) + '</span>)' : '') +
                        '</div>';
                }
            }
        });

    </script>
{% endblock scripts %}



