{% extends "base.html" %}
{% block title %}Maintenance - Edit{% endblock title %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='gridforms/gridforms.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='form.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.5.2/dist/flatpickr.css"
          integrity="sha256-tUFg4y6qj4WTN1LzL83dCuIJwr/+Vhph/nf82gD/X2w=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.css"
          integrity="sha256-PaAZL3VjvuBsQSngzjA8dTdYa2mU88xmjd0vw8biXfg=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.default.css"
          integrity="sha256-08CTv29fptANK7CVsvnTZiZZYF9FHc+qtFzn/3cm4S4=" crossorigin="anonymous">
{% endblock styles %}


{% block page_content %}
    <div class="container">
        <p class="h1 d-print-none mt-3">Maintenance
            <small class="h3 text-muted">/ Equipment</small>
        </p>
    </div>
    <div class="container">
        <form action=""
              method="POST" class="grid-form">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>MAINTENANCE RECORD</legend>
                <fieldset>
                    <legend>VEHICLE</legend>
                    <div data-row-span="4">
                        <div data-field-span="1">
                            <label>Vehicle &#8470;</label>
                            <input type="text" disabled value="&#8470; {{ vehicle.padded_id }}">
                        </div>
                        <div data-field-span="1">
                            <label>TYPE</label>
                            <input type="text" disabled value="{{ vehicle.vehicle_type }}">
                        </div>
                        <div data-field-span="2">
                            <label>VIN</label>
                            <input type="text" disabled value="{{ vehicle.vin }}">
                        </div>
                    </div>
                    <div data-row-span="5">
                        <div data-field-span="2">
                            <label>Make</label>
                            <input type="text" disabled value="{{ vehicle.make }}">
                        </div>
                        <div data-field-span="2">
                            <label>Model</label>
                            <input type="text" disabled value="{{ vehicle.model }}">
                        </div>
                        <div data-field-span="1">
                            <label>Year</label>
                            <input type="text" disabled value="{{ vehicle.year }}">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>MAINTENANCE INFORMATION</legend>
                    <div data-row-span="2">
                        <div data-field-span="1">
                            <label>Maintenance Type</label>
                            {{ form.maintenance_type() }}
                        </div>
                        <div data-field-span="1">
                            <label>Maintenance Time</label>
                            {{ form.date_time() }}
                        </div>
                    </div>
                    <div data-row-span="1">
                        <div data-field-span="1">
                            <label>Description</label>
                            {{ form.description() }}
                        </div>
                    </div>
                </fieldset>
                <div data-row-span="3">
                    <div data-field-span="2">
                        <span>&nbsp;</span>
                    </div>
                    <div data-field-span="1">
                        <button type="submit" class="btn btn-primary gridform-button" name="btn" value="Save">Save
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
        <form action=""
              method="post" class="grid-form">
            {{ form1.hidden_tag() }}
            <div data-row-span="3">
                <div data-field-span="2">
                    {{ form1.part(class_="selectizeParts") }}
                </div>
                <div data-field-span="1">
                    <button type="submit" class="btn gridform-button" name="btn" value="Add">Add Part
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="parts-table" class="container mt-1">
        {{ partstable|safe }}
    </div>
{% endblock page_content %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename="jquery.tabledit.min.js") }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/js/standalone/selectize.min.js"
            integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <script>
        $('#form1-part').selectize({
            persist: false,
            valueField: 'ident',
            labelField: 'name',
            searchField: ['name', 'ident'],
            render: {
                item: function (item, escape) {
                    return '<div>' +
                        (item.name ? '<span class="driverName">' + escape(item.name) + '</span>' : '') +
                        (item.ident ? ' (<span class="driverID">' + escape(item.ident) + '</span>)' : '') +
                        '</div>';
                },
                option: function (item, escape) {
                    var label = item.name || item.ident;
                    var caption = item.name ? item.ident : null;
                    return '<div>' +
                        '<span class="SelectizeLabel">' + escape(label) + '</span>' +
                        (caption ? ' (<span class="SelectizeCaption">' + escape(caption) + '</span>)' : '') +
                        '</div>';
                }
            }
        });
        $('#parts_table').Tabledit({
            columns: {
                identifier: [0, 'id'],
                editable: []
            },
            mutedClass: 'd-none',
            hideIdentifier: true,
            editButton: true,
            restoreButton: false,
            buttons: {
                delete: {
                    class: 'btn btn-sm btn-danger',
                    html: 'DELETE',
                    action: 'delete'
                },
                confirm: {
                    class: 'btn btn-sm btn-danger',
                    html: 'CONFIRM'
                }
            }
        });
    </script>
{% endblock scripts %}



