<form id="passwordForm" name="passwordForm" method="post">
    <div class="modal-header">
        <h4 class="modal-title">Set Password</h4>
    </div>
    <div class="modal-body">
        {{ form.hidden_tag() }}
        <p>{{ form.password_plain(class_='setpasswordplain') }}</p>
        <div id="password-time" class="hsimp-time"></div>
        <ul id="password-checks" class="hsimp-checks"></ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" araia-label="close">Cancel</button>
        <button type="submit" class="btn btn-warning" id="passwordButton" name="passwordButton">Set Password</button>
    </div>
    <script>
        (function (doc) {
            var passwordInput = doc.getElementById("password_plain"),
                timeDiv = doc.getElementById("password-time"),
                checksList = doc.getElementById("password-checks");

            // Code to render the time returned by HSIMP
            var renderTime = function (time, input) {
                timeDiv.innerHTML = time || "";
            };

            // Code to output the checks returned by HSIMP
            var renderChecks = function (checks, input) {
                checksList.innerHTML = "";

                for (var i = 0, l = checks.length; i < l; i++) {
                    var li = doc.createElement("li"),
                        title = doc.createElement("h2"),
                        message = doc.createElement("p");

                    title.innerHTML = checks[i].name;
                    li.appendChild(title);

                    message.innerHTML = checks[i].message;
                    li.appendChild(message);

                    checksList.appendChild(li);
                }
            };

            // Setup the HSIMP object
            var attachTo = hsimp({
                options: {
                    calculationsPerSecond: 10e9, // 10 billion calculations per second
                    good: 31557600e9, // 1 billion years
                    ok: 31557600e3 // 1 thousand years
                },
                outputTime: renderTime,
                outputChecks: renderChecks
            });

            // Run the HSIMP
            attachTo(passwordInput);
        }(this.document));
    </script>
</form>